DB_URL=your_atlas_db_uri
PORT=8000

JWT_SECRET=your_jwt_secret

NODE_ENV=development

TMDB_API_KEY=your_tmdb_api_key

THE_STREAMING_URI=your_cdn_streaming_uri
STREAMING_URI_2=your_backup_cdn_streaming_uri

SECRET_CODE=super_secret_access_code